extends javascript

snippet comp "React Component"
import React from 'react'
import styled from 'styled-components';

export type ${1:`!p snip.rv = snip.basename`}Props = {
  value: string[],
}

const Container = styled.div\`
\`

export default $1 = (props: $1Props) => {

}
endsnippet
