priority -50

extends javascript

snippet log "console.log"
console.log($1);
endsnippet

snippet it
it('$1', () => {
	$2
});
endsnippet

snippet doc "Doc Comment" b
/**
 * $1
 */
endsnippet

snippet imp "import default from" b
import $1 from '$2';
endsnippet

snippet imd "import destructure" b
import { $1 } from '$2';
endsnippet
