#!/usr/bin/env zsh

# lsd aliases
# Reference: https://github.com/Peltoche/lsd
alias ls='lsd'
alias l='ls -l'
alias la='ls -A'
alias lla='ls -lA'
alias lh='ls -Alh'
alias lt='ls --tree'

alias tlf="tail -f"
alias ln='ln -v'
alias mkdir='mkdir -p'
alias -g G='| grep'
alias -g L='| less'
alias -g W='| wc -l'
alias -g ONE="| awk '{ print \$1}'"
alias e="$EDITOR"
alias v="$VISUAL"
alias skim='open -a "Skim"'
alias vim='nvm -v &>/dev/null && nvim'
alias c='clear'
alias fedit="fzf | xargs $EDITOR"

# fzf the directory and cd to it
alias fd='dir=$(fzf); [ -z "$dir" ] && echo "-" || cd "$(dirname "$dir")"'

# Remove nvim swp files
alias rmswp='rm -vf ~/.local/state/nvim/swap/*.sw?'

# Curl Aliases
alias weather='curl http://wttr.in/'
alias myip='curl http://ipecho.net/plain; echo'

# Revert all changes to the previous commit
alias greset='git reset --hard $(git log | head -n 1 | tr " " "\n" | tail -n 1)'
alias gsedit="git status -s | awk '\$1 != \"D\"' | awk '{print \$NF}' | xargs $EDITOR"

# Go to the root of a project (git root)
alias root='cd $(git rev-parse --show-toplevel)'

# Modify mkdir
alias mkdir='mkdir -pv'

# Use python3 instead of 2
alias pip='pip3'
alias python='python3'

# Pretty print the path
alias path="echo $PATH | tr -s ':' '\n'"

# MacOS specific things
alias afk="open -a /System/Library/CoreServices/ScreenSaverEngine.app"

# For Secureframe while node is EOL
alias noderun="nvm use 16 && !! && nvm use 20"

# kill a rogue process running on a specific port
# usage: `killp 3000`
killp() { lsof -n "-i4TCP:${1:-3002}" | grep LISTEN | tr -s ' ' | cut -f 2 -d ' ' | xargs kill -9}

# Auto expand aliases
function expand-alias() {
    zle _expand_alias
    zle self-insert
}
zle -N expand-alias
# Expand an alias by typing '+'
bindkey -M main '+' expand-alias

# sc is somehow aliased to ruby console otherwise
unalias sc 2>/dev/null


# Functions

# Lazy Load NVM
lazynvm() {
  unset -f nvm node npm yarn cdk
  export NVM_DIR=~/.nvm
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
}

nvm() {
  lazynvm
  nvm $@
}

node() {
  lazynvm
  node $@
}

npm() {
  lazynvm
  npm $@
}

yarn() {
  lazynvm
  yarn $@
}

cdk() {
  lazynvm
  cdk $@
}

# Run ls after cd
function cs() {
    if [ $# -eq 0  ]; then
        \cd && ls;
    else
        \cd "$*" && ls;
    fi
}
alias cd='cs'

timezsh() {
  shell=${1-$SHELL}
  for i in $(seq 1 10); do /usr/bin/time $shell -i -c exit; done
}
