#!/usr/bin/env zsh 

# lsd aliases
# Reference: https://github.com/Peltoche/lsd
alias ls='lsd'
alias l='ls -l'
alias la='ls -A'
alias lla='ls -lA'
alias lh='ls -Alh'
alias lt='ls --tree'

alias tlf="tail -f"
alias ln='ln -v'
alias mkdir='mkdir -p'
alias ...='cd ../..'
alias -g G='| grep'
alias -g M='| less'
alias -g L='| wc -l'
alias -g ONE="| awk '{ print \$1}'"
alias e="$EDITOR"
alias v="$VISUAL"
alias skim='open -a "Skim"'
alias vim='nvim'
alias c='clear'
alias fedit="fzf | xargs $EDITOR"

# Remove nvim swp files
alias rmswp='rm -f ~/.local/share/nvim/swap/*.swp'
alias weather='curl http://wttr.in/'

# Revert all changes to the previous commit
alias greset='git reset --hard $(git log | head -n 1 | tr " " "\n" | tail -n 1)'
alias gsedit="gss | awk '{\$1=\"\"}1' | xargs $EDITOR"


#Tm Aliases
alias ttl='tm task list'
alias tta='tm task add'
alias ttd='tm task done'
alias tss='tm sess start'
alias tsa='tm sess add'
alias tsg='tm stat grad'

# Modify mkdir
alias mkdir='mkdir -pv'

# We only want python3 by default
alias pip2='pip'
alias python2='python'

# Use python3 instead of 2
alias pip='pip3'
alias python='python3'

# Pretty print the path
alias path="echo $PATH | tr -s ':' '\n'"

# Go to the root of a project (git root)
alias root='cd $(git rev-parse --show-cdup)'

# kill a rogue process running on a specific port
# usage: `killp 3000`
killp() { lsof -n "-i4TCP:${1:-3002}" | grep LISTEN | tr -s ' ' | cut -f 2 -d ' ' | xargs kill -9}

# Auto expand aliases
function expand-alias() {
    zle _expand_alias
    zle self-insert
}
zle -N expand-alias
# Expand an alias by typing '+'
bindkey -M main '+' expand-alias

# sc is somehow aliased to ruby console otherwise
unalias sc 2>/dev/null
